validator/src/main/resources/orderx10en/Order-X100_EN/04-XSD-UML-SCHEMATRON/Basic/XSD/SCRDMCCBDACIOMessageStructure_100pD20B_urn_un_unece_uncefact_data_standard_ReusableAggregateBusinessInformationEntity_128.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ram="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:128"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:qdt="urn:un:unece:uncefact:data:standard:QualifiedDataType:128"
    xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:128"
    targetNamespace="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:128"
    elementFormDefault="qualified"
    version="128.0">
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:QualifiedDataType:128" schemaLocation="SCRDMCCBDACIOMessageStructure_100pD20B_urn_un_unece_uncefact_data_standard_QualifiedDataType_128.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:128" schemaLocation="SCRDMCCBDACIOMessageStructure_100pD20B_urn_un_unece_uncefact_data_standard_UnqualifiedDataType_128.xsd"/>
  <xsd:complexType name="DocumentContextParameterType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Document Context Parameter</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DocumentLineDocumentType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Document Line</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="LineID" type="udt:IDType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Line ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LineStatusCode" type="qdt:LineStatusCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Status Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IncludedNote" type="ram:NoteType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Note</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExchangedDocumentContextType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Exchanged Document Context</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="TestIndicator" type="udt:IndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Test Indicator</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BusinessProcessSpecifiedDocumentContextParameter" type="ram:DocumentContextParameterType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Business Process</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GuidelineSpecifiedDocumentContextParameter" type="ram:DocumentContextParameterType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Guideline</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExchangedDocumentType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Exchanged Document</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TypeCode" type="qdt:DocumentCodeType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Type Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StatusCode" type="qdt:DocumentStatusCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Status Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IssueDateTime" type="udt:DateTimeType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Issue Date Time</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CopyIndicator" type="udt:IndicatorType" minOccurs="0">
        <xsd:annotation/>
      </xsd:element>
      <xsd:element name="PurposeCode" type="qdt:MessageFunctionCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Purpose Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RequestedResponseTypeCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Response Request Type Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="IncludedNote" type="ram:NoteType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Note</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HeaderTradeAgreementType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Header Trade Agreement</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="BuyerReference" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Buyer Reference Text</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SellerTradeParty" type="ram:TradePartyType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Seller</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BuyerTradeParty" type="ram:TradePartyType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Buyer</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ApplicableTradeDeliveryTerms" type="ram:TradeDeliveryTermsType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Trade Delivery Terms</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BuyerOrderReferencedDocument" type="ram:ReferencedDocumentType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Buyer Order Document</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="QuotationReferencedDocument" type="ram:ReferencedDocumentType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Quotation Document</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ContractReferencedDocument" type="ram:ReferencedDocumentType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Contract Document</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BlanketOrderReferencedDocument" type="ram:ReferencedDocumentType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Blanket Order Document</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PreviousOrderReferencedDocument" type="ram:ReferencedDocumentType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Previous Order Document</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PreviousOrderChangeReferencedDocument" type="ram:ReferencedDocumentType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Previous Order Change Document</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PreviousOrderResponseReferencedDocument" type="ram:ReferencedDocumentType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Previous Order Response Document</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HeaderTradeDeliveryType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Header Trade Delivery</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ShipToTradeParty" type="ram:TradePartyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Ship To Party</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ShipFromTradeParty" type="ram:TradePartyType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Ship From Party</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RequestedDeliverySupplyChainEvent" type="ram:SupplyChainEventType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Requested Delivery Event</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RequestedDespatchSupplyChainEvent" type="ram:SupplyChainEventType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Requested Despatch Event</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HeaderTradeSettlementType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Header Trade Settlement</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="OrderCurrencyCode" type="qdt:CurrencyCodeType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Order Currency Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SpecifiedTradeSettlementHeaderMonetarySummation" type="ram:TradeSettlementHeaderMonetarySummationType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Monetary Summation</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReceivableSpecifiedTradeAccountingAccount" type="ram:TradeAccountingAccountType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Accounts Receivable</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LegalOrganizationType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Legal Organization</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TradingBusinessName" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Trading Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LineTradeAgreementType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Line Trade Agreement</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="BuyerOrderReferencedDocument" type="ram:ReferencedDocumentType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Buyer Order Document</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NetPriceProductTradePrice" type="ram:TradePriceType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Product Net Price</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BlanketOrderReferencedDocument" type="ram:ReferencedDocumentType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Blanket Order Document</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LineTradeDeliveryType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Line Trade Delivery</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="PartialDeliveryAllowedIndicator" type="udt:IndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Partial Delivery Allowed Indicator</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RequestedQuantity" type="udt:QuantityType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Requested Quantity</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AgreedQuantity" type="udt:QuantityType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Agreed Quantity</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LineTradeSettlementType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Line Trade Settlement</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="SpecifiedTradeSettlementLineMonetarySummation" type="ram:TradeSettlementLineMonetarySummationType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Monetary Summation</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NoteType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Note</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Content" type="udt:TextType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Content Text</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SubjectCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Subject Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReferencedDocumentType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Referenced Document</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="IssuerAssignedID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Issuer Assigned ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LineID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Line ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReferencedProductType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Referenced Product</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GlobalID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Global ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SellerAssignedID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Seller Assigned ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BuyerAssignedID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Buyer Assigned ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SpecifiedPeriodType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Period</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="StartDateTime" type="udt:DateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Start Date Time</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EndDateTime" type="udt:DateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">End Date Time</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SupplyChainEventType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Supply Chain Event</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="OccurrenceDateTime" type="udt:DateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Occurrence Date Time</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OccurrenceSpecifiedPeriod" type="ram:SpecifiedPeriodType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Occurrence Period</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SupplyChainTradeLineItemType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Supply Chain Trade Line Item</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="AssociatedDocumentLineDocument" type="ram:DocumentLineDocumentType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Associated Document Line</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SpecifiedTradeProduct" type="ram:TradeProductType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Trade Product</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SubstitutedReferencedProduct" type="ram:ReferencedProductType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Substituted Product</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SpecifiedLineTradeAgreement" type="ram:LineTradeAgreementType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Line Trade Agreement</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SpecifiedLineTradeDelivery" type="ram:LineTradeDeliveryType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Line Trade Delivery</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SpecifiedLineTradeSettlement" type="ram:LineTradeSettlementType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Line Trade Settlement</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SupplyChainTradeTransactionType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Supply Chain Trade Transaction</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="IncludedSupplyChainTradeLineItem" type="ram:SupplyChainTradeLineItemType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Included Trade Line Item</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ApplicableHeaderTradeAgreement" type="ram:HeaderTradeAgreementType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Header Trade Agreement</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ApplicableHeaderTradeDelivery" type="ram:HeaderTradeDeliveryType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Header Trade Delivery</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ApplicableHeaderTradeSettlement" type="ram:HeaderTradeSettlementType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Header Trade Settlement</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TaxRegistrationType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Tax Registration</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TradeAccountingAccountType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Trade Accounting Account</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TradeAddressType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Trade Address</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="PostcodeCode" type="udt:CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Postcode</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LineOne" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Line One</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LineTwo" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Line Two</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LineThree" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Line Three</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CityName" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">City Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CountryID" type="qdt:CountryIDType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Country Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CountrySubDivisionName" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Country Sub-Division Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TradeContactType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Trade Contact</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="PersonName" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Person Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DepartmentName" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Department Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TelephoneUniversalCommunication" type="ram:UniversalCommunicationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Telephone</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EmailURIUniversalCommunication" type="ram:UniversalCommunicationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Email Address</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TradeDeliveryTermsType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Trade Delivery Terms</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DeliveryTypeCode" type="qdt:DeliveryTermsCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FunctionCode" type="qdt:DeliveryTermsFunctionCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Function Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TradePartyType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Trade Party</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GlobalID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Global ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SpecifiedLegalOrganization" type="ram:LegalOrganizationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Legal Organization</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DefinedTradeContact" type="ram:TradeContactType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Defined Contact Details</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostalTradeAddress" type="ram:TradeAddressType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Postal Address</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="URIUniversalCommunication" type="ram:UniversalCommunicationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">URI</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SpecifiedTaxRegistration" type="ram:TaxRegistrationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Tax Registration</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TradePriceType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Trade Price</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ChargeAmount" type="udt:AmountType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Charge Amount</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BasisQuantity" type="udt:QuantityType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Basis Quantity</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TradeProductType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Trade Product</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="GlobalID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Global ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SellerAssignedID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Seller Assigned ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BuyerAssignedID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Buyer Assigned ID</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TradeSettlementHeaderMonetarySummationType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Trade Settlement Header Monetary Summation</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="LineTotalAmount" type="udt:AmountType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Line Total Amount</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ChargeTotalAmount" type="udt:AmountType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Charge Total Amount</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AllowanceTotalAmount" type="udt:AmountType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Allowance Total Amount</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TaxBasisTotalAmount" type="udt:AmountType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Tax Basis Total Amount</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TaxTotalAmount" type="udt:AmountType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Tax Total Amount</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GrandTotalAmount" type="udt:AmountType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Grand Total Amount</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TradeSettlementLineMonetarySummationType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Trade Settlement Line Monetary Summation</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="LineTotalAmount" type="udt:AmountType">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Line Total Amount</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UniversalCommunicationType">
    <xsd:annotation>
      <xsd:documentation source="BN/BN">Communication</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="URIID" type="udt:IDType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">URI</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CompleteNumber" type="udt:TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation source="BN/BN">Complete Number</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
